@model IEnumerable<Community3.Models.AppUser>

<body>
    <div style="background-color: white; border-radius: 4px; border: thin solid #dddddd">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto">
                <div class="col-md-12" style="text-align:center">
                    @foreach(var user in Model)
                    {
                        @: nbnnbm
                        <button class="btn btn-default">Диалог с @user.FullName</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>